<li class="left clearfix">
  <span class="chat-img pull-left">
    <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
  </span>
  <div class="chat-body clearfix">
      <!-- <div class="header">
          <strong class="primary-font"><%= user.code %></strong>
          <small class="text-muted text-right">
            <span class="fa fa-times pull-left"></span>14 mins ago
          </small>
      </div> -->
      <p>
        <%= message.body %>
      </p>
  </div>
</li>
